<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multiseafoods.msapp.mapper.CostMapper" >
  <resultMap id="BaseResultMap" type="com.multiseafoods.msapp.entity.Cost" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="no" property="no" jdbcType="VARCHAR" />
    <result column="copetype" property="copetype" jdbcType="VARCHAR" />
    <result column="objecttype" property="objecttype" jdbcType="VARCHAR" />
    <result column="actualamount" property="actualamount" jdbcType="REAL" />
    <result column="settlement" property="settlement" jdbcType="INTEGER" />
    <result column="supplier" property="supplier" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createdAt" property="createdat" jdbcType="TIMESTAMP" />
    <result column="updatedAt" property="updatedat" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, no, copetype, objecttype, actualamount, settlement, supplier, status, createdAt, 
    updatedAt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cost
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from cost
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.multiseafoods.msapp.entity.Cost" >
    insert into cost (id, no, copetype, 
      objecttype, actualamount, settlement, 
      supplier, status, createdAt, 
      updatedAt)
    values (#{id,jdbcType=BIGINT}, #{no,jdbcType=VARCHAR}, #{copetype,jdbcType=VARCHAR}, 
      #{objecttype,jdbcType=VARCHAR}, #{actualamount,jdbcType=REAL}, #{settlement,jdbcType=INTEGER}, 
      #{supplier,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createdat,jdbcType=TIMESTAMP}, 
      #{updatedat,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.multiseafoods.msapp.entity.Cost" >
    insert into cost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="no != null" >
        no,
      </if>
      <if test="copetype != null" >
        copetype,
      </if>
      <if test="objecttype != null" >
        objecttype,
      </if>
      <if test="actualamount != null" >
        actualamount,
      </if>
      <if test="settlement != null" >
        settlement,
      </if>
      <if test="supplier != null" >
        supplier,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdat != null" >
        createdAt,
      </if>
      <if test="updatedat != null" >
        updatedAt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="no != null" >
        #{no,jdbcType=VARCHAR},
      </if>
      <if test="copetype != null" >
        #{copetype,jdbcType=VARCHAR},
      </if>
      <if test="objecttype != null" >
        #{objecttype,jdbcType=VARCHAR},
      </if>
      <if test="actualamount != null" >
        #{actualamount,jdbcType=REAL},
      </if>
      <if test="settlement != null" >
        #{settlement,jdbcType=INTEGER},
      </if>
      <if test="supplier != null" >
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdat != null" >
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null" >
        #{updatedat,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.multiseafoods.msapp.entity.Cost" >
    update cost
    <set >
      <if test="no != null" >
        no = #{no,jdbcType=VARCHAR},
      </if>
      <if test="copetype != null" >
        copetype = #{copetype,jdbcType=VARCHAR},
      </if>
      <if test="objecttype != null" >
        objecttype = #{objecttype,jdbcType=VARCHAR},
      </if>
      <if test="actualamount != null" >
        actualamount = #{actualamount,jdbcType=REAL},
      </if>
      <if test="settlement != null" >
        settlement = #{settlement,jdbcType=INTEGER},
      </if>
      <if test="supplier != null" >
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdat != null" >
        createdAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedat != null" >
        updatedAt = #{updatedat,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.multiseafoods.msapp.entity.Cost" >
    update cost
    set no = #{no,jdbcType=VARCHAR},
      copetype = #{copetype,jdbcType=VARCHAR},
      objecttype = #{objecttype,jdbcType=VARCHAR},
      actualamount = #{actualamount,jdbcType=REAL},
      settlement = #{settlement,jdbcType=INTEGER},
      supplier = #{supplier,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createdAt = #{createdat,jdbcType=TIMESTAMP},
      updatedAt = #{updatedat,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>