<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.multiseafoods.msapp.mapper.SalesorderMapper" >
  <resultMap id="BaseResultMap" type="com.multiseafoods.msapp.entity.Salesorder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="material" property="material" jdbcType="VARCHAR" />
    <result column="qty" property="qty" jdbcType="INTEGER" />
    <result column="createdAt" property="createdat" jdbcType="TIMESTAMP" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="carryfee" property="carryfee" jdbcType="REAL" />
    <result column="total" property="total" jdbcType="REAL" />
    <result column="price" property="price" jdbcType="REAL" />
    <result column="amount" property="amount" jdbcType="REAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, material, qty, createdAt, weight, carryfee, total, price, amount, status, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from salesorder
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from salesorder
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.multiseafoods.msapp.entity.Salesorder" >
    insert into salesorder (id, material, qty, 
      createdAt, weight, carryfee, 
      total, price, amount, status, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{material,jdbcType=VARCHAR}, #{qty,jdbcType=INTEGER}, 
      #{createdat,jdbcType=TIMESTAMP}, #{weight,jdbcType=VARCHAR}, #{carryfee,jdbcType=REAL}, 
      #{total,jdbcType=REAL}, #{price,jdbcType=REAL}, #{amount,jdbcType=REAL}, #{status,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.multiseafoods.msapp.entity.Salesorder" >
    insert into salesorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="material != null" >
        material,
      </if>
      <if test="qty != null" >
        qty,
      </if>
      <if test="createdat != null" >
        createdAt,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="carryfee != null" >
        carryfee,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="material != null" >
        #{material,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        #{qty,jdbcType=INTEGER},
      </if>
      <if test="createdat != null" >
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="carryfee != null" >
        #{carryfee,jdbcType=REAL},
      </if>
      <if test="total != null" >
        #{total,jdbcType=REAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=REAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=REAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.multiseafoods.msapp.entity.Salesorder" >
    update salesorder
    <set >
      <if test="material != null" >
        material = #{material,jdbcType=VARCHAR},
      </if>
      <if test="qty != null" >
        qty = #{qty,jdbcType=INTEGER},
      </if>
      <if test="createdat != null" >
        createdAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="weight != null" >
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="carryfee != null" >
        carryfee = #{carryfee,jdbcType=REAL},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=REAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=REAL},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=REAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.multiseafoods.msapp.entity.Salesorder" >
    update salesorder
    set material = #{material,jdbcType=VARCHAR},
      qty = #{qty,jdbcType=INTEGER},
      createdAt = #{createdat,jdbcType=TIMESTAMP},
      weight = #{weight,jdbcType=VARCHAR},
      carryfee = #{carryfee,jdbcType=REAL},
      total = #{total,jdbcType=REAL},
      price = #{price,jdbcType=REAL},
      amount = #{amount,jdbcType=REAL},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>